.form-group
  = form.label :shared_runners_minutes, _('Pipeline minutes quota'), class: 'label-bold'
  = form.number_field :shared_runners_minutes, class: 'form-control'
  .form-text.text-muted
    = _('Set the maximum number of pipeline minutes that a group can use on shared Runners per month. 0 for unlimited.')
    = link_to icon('question-circle'), help_page_path("user/admin_area/settings/continuous_integration", anchor: "shared-runners-pipeline-minutes-quota"), target: '_blank'
